.residents-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.table-resident {
    background-color: #fff;
}

h1 {
    text-align: center;
}

.button-container {
    margin: 1rem 0;
}

#sign-up-section {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.sign {
    margin: 5px;
}

.resident {
    min-width: 40px;
}
.sign-form {
    max-width: 350px;
}

.form-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}